body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    display: flex;
    border: 3px solid rgb(156, 45, 45);
    margin: 10px;
    height: 300px;
    flex-direction: row;
    justify-content:flex-start;
    justify-content:space-evenly;
    align-items: stretch;
    flex-wrap:wrap;
  position: relative;

}
.Box{ 
    background-color: beige;
padding: 10px;
margin: 15px;
width: 100px;
height: 100px;
}
/*flex item properties*/
.box1{
    background :olive;
    flex-grow: 1  150px ;
    position: absolute;
    left: 10px;
   top: 1px;
}
.box2{
    background :orchid;
    flex-grow: 1 150px ;

    
}   
  
.box3{
    background :sienna;
    flex-grow: 1  150px;
   position :absolute;
     top:0px;
   right: 0px;

  
}

