body {
background-color: rgb(224, 230, 233) ;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
     color: darkblue;
  text-align: center;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:green;

}
#mainheading{
color:green ;
}
.bottomparagraph{
    color: rgb(0, 0, 0);
 font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Main{
    background-color: antiquewhite;
    margin: 10px;
    border: 1px  green;
    width: auto;
    height: auto;
    padding: 10px;
}
#picture  {
    text-align: center;
}