.demo.block {
    display: block;
    border: 1px solid blue;
    margin: 5px;
}

.demo.inline {
    display: inline;
    border: 1px solid green;
    margin: 5px;
}

.demo.inline-block {
    display: inline-block;
    border: 1px solid red;
    margin: 5px;
    width: 200px;
}
